/backend/node_modules
/backend/coverage
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local


/frontend/node_modules
/frontend/coverage
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
